<div class="container">
  <h1><%= @post.post_title %></h1>
    <form action='/posts/<%= @post.id %>/edit' method='post'>
    <p>
      <b>Title:<br><br>
        <input type="text" name="post[post_title]" placeholder="Edit the product name"></b>
      <br/>
      <br/>
      <b>Description:</b><br><br>
       <textarea cols="50" rows="5" name="post[post_body]" placeholder="Please edit the description of your product here"></textarea>
      <br/><br/>
      <input type="submit" value="Update">
    </p>
  </form>
<div>